.box {
    width: 500px;
    height: 10 0px;
    background-color: indianred;
    border: 5px solid turquoise;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}




  






















